.home {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  height: 5228px;
  overflow: hidden;
  width: 1440px;
}

.overlap-group2 {
  height: 5681px;
  margin-left: -295px;
  margin-top: -267px;
  position: relative;
  width: 2003px;
}

.bg {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 5681px;
  position: absolute;
  top: 0;
  width: 2003px;
}

.ellipse-14 {
  background: linear-gradient(180deg, rgba(65, 88, 208, 0.5) 0%, rgba(200, 80, 192, 0.5) 61.73%, rgba(255, 204, 112, 0.5) 100%);
  border-radius: 359px;
  filter: blur(150px);;
  height: 718px;
  margin-left: 2px;
  width: 718px;
}

.ellipse-14-1 {
  align-self: flex-end;
  background: linear-gradient(180deg, rgba(65, 88, 208, 0.4) 0%, rgba(200, 80, 192, 0.4) 61.73%, rgba(255, 204, 112, 0.4) 100%);
  border-radius: 248px;
  filter: blur(150px);;
  height: 496px;
  margin-top: 1113px;
  width: 496px;
}

.ellipse-15 {
  background: linear-gradient(180deg, rgba(65, 88, 208, 0.4) 0%, rgba(200, 80, 192, 0.4) 61.73%, rgba(255, 204, 112, 0.4) 100%);
  border-radius: 248px;
  filter: blur(150px);;
  height: 496px;
  margin-top: 2858px;
  width: 496px;
}

.footer {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 194px;
  justify-content: flex-start;
  left: 436px;
  min-width: 1158px;
  mix-blend-mode: normal;
  position: absolute;
  top: 5105px;
  width: auto;
}

.frame-20 {
  height: 20px;
  margin-top: 7px;
  width: 64px;
}

.frame-27 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 149px;
  min-height: 147px;
  width: 227px;
}

.our-contact {
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: -7px;
  margin-top: -1px;
  min-height: 21px;
  white-space: nowrap;
}

.office-4042-imperial-road-uk {
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: -8px;
  margin-left: 1px;
  margin-top: 32px;
  min-height: 20px;
  white-space: nowrap;
}

.frame-27-item {
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: -8px;
  margin-left: 1px;
  margin-top: 17px;
  min-height: 20px;
  white-space: nowrap;
}

.flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 115px;
  margin-top: -1px;
  min-height: 194px;
  width: 201px;
}

.about-us {
  letter-spacing: 0;
  line-height: 28px;
  min-height: 21px;
  white-space: nowrap;
}

.lorem-ipsum-dolor-si-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 142px;
  width: 201px;
}

.flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-left: 122px;
  min-height: 176px;
  width: 280px;
}

.frame-28 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 17px;
  min-height: 84px;
  width: 280px;
}

.subscribe {
  letter-spacing: 0;
  line-height: 28px;
  margin-left: 10px;
  margin-top: -1px;
  white-space: nowrap;
}

.overlap-group {
  align-items: center;
  background-color: #ecf0fc;
  border-radius: 9px;
  display: flex;
  gap: 154px;
  height: 40px;
  justify-content: flex-end;
  min-width: 280px;
  padding: 0 13px;
}

.your-email {
  color: #222136cc;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 11px;
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: 1.0px;
  white-space: nowrap;
  width: 74px;
}

.fluentsend-20-filled {
  height: 20px;
  width: 20px;
}

.group-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-left: 7px;
  min-height: 65px;
  width: 106px;
}

.follow-us {
  letter-spacing: 0;
  line-height: 28px;
  margin-left: 3px;
  white-space: nowrap;
}

.social-icons {
  height: 26px;
  width: 104px;
}

.get-in-touch {
  align-items: center;
  background: linear-gradient(180deg, rgb(82, 127, 246) 0%, rgb(225, 109, 217) 66.27%, rgb(255, 204, 112) 100%);
  border-radius: 30px;
  display: flex;
  gap: 39px;
  height: 300px;
  justify-content: flex-end;
  left: 436px;
  min-width: 1160px;
  padding: 87px 209px;
  position: absolute;
  top: 4645px;
}

.we-like-to-start-your-project-with-us {
  align-self: flex-end;
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 51px;
  min-height: 114px;
  width: 537px;
}

.overlap-group-1 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 12px;
  display: flex;
  height: 49px;
  margin-bottom: 1.0px;
  min-width: 164px;
  padding: 13px 36px;
}

.get-in-touch-1 {
  letter-spacing: 0.28px;
  line-height: 22px;
  min-width: 92px;
  white-space: nowrap;
}

.blog {
  align-items: flex-end;
  display: flex;
  height: 551px;
  left: 435px;
  min-width: 1161px;
  position: absolute;
  top: 3928px;
}

.flex-col-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 29px;
  min-height: 377px;
  width: 361px;
}

.rectangle {
  height: 241px;
  width: 361px;
}

.frame-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 30.0px;
  min-height: 107px;
  width: 289px;
}

.frame-16 {
  align-items: flex-start;
  display: flex;
  gap: 9px;
  height: 15px;
  min-width: 154px;
}

.address {
  letter-spacing: 0;
  line-height: 19px;
  margin-top: -1px;
  min-height: 15px;
  white-space: nowrap;
  width: 83px;
}

.by-admin {
  letter-spacing: 0;
  line-height: 19px;
  margin-top: -1px;
  min-height: 15px;
  white-space: nowrap;
}

.lorem-ipsum-dolor-si {
  letter-spacing: 0;
  line-height: 22px;
  margin-top: 13px;
  min-height: 43px;
  width: 289px;
}

.read-more {
  letter-spacing: 0;
  line-height: 22px;
  margin-bottom: -4px;
  margin-top: 17px;
  min-height: 18px;
  white-space: nowrap;
}

.flex-col-4 {
  align-items: center;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 21px;
  margin-top: -1px;
  min-height: 552px;
  width: 393px;
}

.blog-1 {
  letter-spacing: 0.70px;
  line-height: 24px;
  margin-bottom: -8px;
  margin-left: 5.0px;
  min-height: 16px;
  text-align: center;
  white-space: nowrap;
  width: 60px;
}

.read-our-news {
  letter-spacing: 1.44px;
  line-height: 61px;
  margin-bottom: -13px;
  margin-top: 17px;
  min-height: 48px;
  text-align: center;
  white-space: nowrap;
  width: 393px;
}

.rectangle-7 {
  height: 241px;
  margin-left: 4.0px;
  margin-top: 94px;
  width: 361px;
}

.frame-18 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 26.0px;
  margin-top: 29px;
  min-height: 107px;
  width: 289px;
}

.flex-col-5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-left: 25px;
  min-height: 377px;
  width: 361px;
}

.testimony {
  align-items: center;
  display: flex;
  height: 676px;
  left: 518px;
  min-width: 961px;
  position: absolute;
  top: 3055px;
}

.ellipse-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 295px;
  margin-top: 95.0px;
  min-height: 395px;
  width: 70px;
}

.ellipse {
  height: 60px;
  width: 60px;
}

.ellipse-1 {
  align-self: flex-end;
  height: 40px;
  width: 40px;
}

.ellipse-3 {
  height: 40px;
  margin-left: 42px;
  margin-top: 80.0px;
  width: 40px;
}

.flex-col-6 {
  align-items: center;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 22px;
  margin-top: -1px;
  min-height: 677px;
  width: 625px;
}

.testimony-1 {
  letter-spacing: 0.70px;
  line-height: 24px;
  margin-bottom: -6px;
  margin-left: 1.0px;
  min-height: 18px;
  text-align: center;
  white-space: nowrap;
  width: 84px;
}

.what-do-our-clients-says-about-us {
  letter-spacing: 0;
  line-height: 61px;
  margin-top: 15px;
  min-height: 111px;
  text-align: center;
  width: 625px;
}

.overlap-group1 {
  height: 287px;
  margin-left: 2.0px;
  margin-top: 117px;
  position: relative;
  width: 499px;
}

.ellipse-14-2 {
  background: linear-gradient(180deg, rgba(65, 88, 208, 0.2) 0%, rgba(200, 80, 192, 0.2) 52.84%, rgba(255, 204, 112, 0.2) 100%);
  border-radius: 133px;
  filter: blur(70px);;
  height: 266px;
  left: 115px;
  position: absolute;
  top: 0;
  width: 266px;
}

.ellipse-5 {
  background-color: var(--white);
  border-radius: 58.5px;
  height: 117px;
  left: 190px;
  position: absolute;
  top: 9px;
  width: 117px;
}

.ellipse-6 {
  height: 100px;
  left: 199px;
  position: absolute;
  top: 18px;
  width: 100px;
}

.lorem-ipsum-dolor-si-3 {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 166px;
  width: 499px;
}

.name {
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 6.0px;
  margin-top: 26px;
  min-width: 113px;
  text-align: center;
  white-space: nowrap;
}

.it-consultant {
  color: var(--bastille);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  margin-left: 2.0px;
  text-align: center;
  white-space: nowrap;
  width: 93px;
}

.frame-6 {
  align-items: center;
  display: flex;
  margin-top: 50px;
  min-width: 71px;
}

.ellipse-10 {
  background-color: #4270eb;
  border-radius: 6px;
  height: 12px;
  width: 12px;
}

.ellipse-11 {
  background-color: var(--perano);
  border-radius: 5px;
  height: 10px;
  margin-left: 9px;
  width: 10px;
}

.ellipse-1-1 {
  background-color: var(--perano);
  border-radius: 5px;
  height: 10px;
  margin-left: 10px;
  width: 10px;
}

.ellipse-8 {
  height: 40px;
  margin-left: 23px;
  margin-top: 30.0px;
  width: 40px;
}

.ellipse-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 307px;
  margin-left: 25px;
  margin-top: 105.0px;
  min-height: 407px;
  width: 74px;
}

.portfolio {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 104px;
  left: 425px;
  min-height: 675px;
  position: absolute;
  top: 2161px;
  width: 1180px;
}

.flex-row {
  align-items: flex-start;
  display: flex;
  gap: 66px;
  height: 91px;
  margin-top: -1px;
  min-width: 1180px;
}

.flex-col-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 9px;
  min-height: 87px;
  width: 588px;
}

.portfolio-1 {
  letter-spacing: 0.70px;
  line-height: 24px;
  min-height: 18px;
  white-space: nowrap;
}

.view-our-case-studies {
  letter-spacing: 0;
  line-height: 61px;
  margin-bottom: -7px;
  min-height: 54px;
  white-space: nowrap;
}

.flex-col-8 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 18px;
  min-height: 78px;
  width: 526px;
}

.lorem-ipsum-dolor-si-4 {
  letter-spacing: 0.42px;
  line-height: 25px;
  min-height: 50px;
  width: 526px;
}

.frame-4 {
  align-items: flex-start;
  display: flex;
  gap: 3px;
  min-width: 93px;
}

.vi-ew-all {
  color: var(--royal-blue);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 500;
  height: 10px;
  letter-spacing: 0.84px;
  line-height: 25px;
  margin-top: -1px;
  white-space: nowrap;
  width: 73px;
}

.vector {
  height: 10px;
  width: 17px;
}

.card-container {
  align-items: flex-start;
  display: flex;
  gap: 40px;
  height: 481px;
  min-width: 1160px;
  position: relative;
}

.about-us-1 {
  align-items: center;
  display: flex;
  gap: 99px;
  height: 500px;
  left: 425px;
  min-width: 1067px;
  position: absolute;
  top: 1442px;
}

.rectangle-3 {
  height: 500px;
  width: 470px;
}

.flex-col-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 12.0px;
  min-height: 430px;
  width: 498px;
}

.about-us-2 {
  letter-spacing: 0.70px;
  line-height: 24px;
  margin-bottom: -6px;
  margin-left: 1px;
  min-height: 18px;
  white-space: nowrap;
}

.design-develop-for-better-solution {
  letter-spacing: 0;
  line-height: 61px;
  margin-top: 25px;
  min-height: 108px;
  width: 452px;
}

.lorem-ipsum-dolor-si-5 {
  letter-spacing: 0.42px;
  line-height: 25px;
  margin-top: 55px;
  min-height: 121px;
  width: 498px;
}

.overlap-group-2 {
  align-items: flex-start;
  background-color: var(--royal-blue);
  border-radius: 15px;
  display: flex;
  height: 49px;
  margin-top: 54px;
  min-width: 154px;
  padding: 18px 36px;
}

.learn-more {
  height: 11px;
  letter-spacing: 0.28px;
  line-height: 15px;
  white-space: nowrap;
}

.content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 110px;
  left: 425px;
  min-height: 758px;
  position: absolute;
  top: 443px;
  width: 1179px;
}

.flex-row-1 {
  align-items: center;
  display: flex;
  min-width: 1179px;
}

.flex-col-10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 8.0px;
  min-height: 400px;
  width: 535px;
}

.creative-work-creative-mind {
  letter-spacing: 0.70px;
  line-height: 24px;
  margin-bottom: -6px;
  min-height: 18px;
  white-space: nowrap;
}

.we-are-digital-creative-agency {
  color: var(--bastille);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 76px;
  margin-top: 15px;
  min-height: 140px;
  width: 535px;
}

.lorem-ipsum-dolor-si-6 {
  color: var(--bastille-2);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 29px;
  margin-top: 63px;
  min-height: 52px;
  width: 503px;
}

.button {
  align-items: flex-start;
  background-color: var(--royal-blue);
  border-radius: 15px;
  display: flex;
  height: 49px;
  justify-content: flex-end;
  margin-top: 63px;
  min-width: 163px;
  padding: 18px 36px;
}

.get-in-touch-2 {
  height: 11px;
  letter-spacing: 0;
  line-height: 29px;
  white-space: nowrap;
}

.rectangle-2 {
  height: 550px;
  margin-left: 74px;
  width: 400px;
}

.rectangle-1 {
  height: 550px;
  margin-left: 20px;
  width: 150px;
}

.frame-container {
  align-items: flex-start;
  display: flex;
  gap: 75px;
  min-width: 1164px;
}

.frame {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  height: 98px;
  min-width: 338px;
}

.design {
  align-items: flex-start;
  background-color: #f0bb1f;
  border-radius: 17px;
  display: flex;
  height: 70px;
  justify-content: flex-end;
  min-width: 70px;
  padding: 16.4px 15.6px;
}

.vector-1 {
  height: 32px;
  width: 32px;
}

.flex-col {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 2.0px;
  min-height: 94px;
  width: 248px;
}

.design-1,
.development-1,
.testing-qa {
  height: 16px;
  letter-spacing: 0;
  line-height: 23px;
  white-space: nowrap;
}

.lorem-ipsum-dolor-si-1 {
  height: 64px;
  letter-spacing: 0;
  line-height: 22px;
  width: 248px;
}

.development {
  align-items: center;
  background-color: #f15a2b;
  border-radius: 17px;
  display: flex;
  height: 70px;
  min-width: 70px;
  padding: 0 21px;
}

.vector-container {
  height: 28px;
  position: relative;
  width: 28px;
}

.vector-2 {
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 18px;
}

.vector-3 {
  height: 20px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 20px;
}

.overlap-group1-1 {
  background-color: #006380;
  border-radius: 17px;
  height: 70px;
  position: relative;
  width: 70px;
}

.icon-check_mark {
  height: 26px;
  left: 24px;
  position: absolute;
  top: 20px;
  width: 26px;
}

.vector-4 {
  height: 28px;
  left: 20px;
  position: absolute;
  top: 22px;
  width: 28px;
}

.header {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  gap: 543px;
  height: 23px;
  justify-content: flex-start;
  left: 430px;
  min-width: 1156px;
  mix-blend-mode: normal;
  padding: 1.2px 0;
  position: absolute;
  top: 316px;
  width: auto;
}

.frame-20-1 {
  align-self: flex-end;
  height: 20px;
  width: 64px;
}

.navbar {
  align-items: flex-start;
  display: flex;
  gap: 41px;
  margin-bottom: 1.0px;
  position: relative;
  width: fit-content;
}

.navbar-link-place {
  height: 18px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 43px;
}

.navbar-link-about-us {
  height: 18px;
  letter-spacing: 0.28px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 65px;
}

.navbar-link-portfolio {
  height: 18px;
  letter-spacing: 0.42px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 61px;
}

.navbar-link-testimony {
  height: 18px;
  letter-spacing: 0.42px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 76px;
}

.navbar-link-news {
  height: 18px;
  letter-spacing: 0.42px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 39px;
}

.navbar-link-place-1 {
  height: 18px;
  letter-spacing: 0.42px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 60px;
}

